.titulo{
    font-size: 60px;
    color: red;

}

.labelO{
    color: blue;
}

.selectoO{
    width: 20%;
    justify-self: center;
    margin: 5px 0px;

}

.container0{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 2rem;

}

.container0 > div{
    background-color: rgb(63, 209, 209);
}

.tabla0{
    grid-row: 3/3;
    grid-column: 1/4;
}

.boton0{
    grid-column: 1/4;
    grid-row: 2/2;
}