.fondoo0{
      background-image: url('https://images5.alphacoders.com/467/thumb-1920-467394.jpg');
        background-color: red;
   
    }

.fondoo1{
    background-color: bisque;
    justify-items: center;
    margin: 360px 0px 12px;
}