.col-sm-3{
    background-color:azure;
    border-color: blue;
    border-radius: .5rem;
}

.row{
}

h1{
    font-family: 'Comforter', cursive;
    font-family: 'Oswald', sans-serif;
    color:red;
    
}