.contenedorv1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;
}

.contenedorv1 div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
 
}

.contenedorv1 div div{
    display: grid;
    grid-template-columns: 1fr;
    width: 300px;
    height: 200px;
}

.img-clase{
    justify-self: center;
    width: 400px;
    height: 400px;
    object-fit: contain;
}

.contenedor1 div div li:nth-child(2n+1){
    background-color: gainsboro;
    
}
.contenedor1 div div li:nth-child(even){
    background-color: blue;
}
.contenedorv1 div button{
    padding: 0.2em;
    margin: 0.2em;

}



.contenedor1{
    background: -webkit-linear-gradient(-45deg,black 15%,blue  100%);

}

.contenedor1 div div:hover{
    background-color: red;
}

.contenedorv1 div div li:hover{
    background-color: deeppink;
}

.btn{
    height: 2rem;
}
