.contenedor{
    align-content: center;
    margin: 20px;
}


.formulario-n1{
    display: flex;
}

.formulario{
    border-radius: 12px;
    background: blue;
    padding: 20px;
}


.etiqueta{
    align-content: flex-start;
    align-items: flex-start;
}

.ajustarIzq{
    text-align: start;
}